In [29]:
import pandas as pd
# 기존에 행정동을 법정동으로 잘못 채워논 파일을 가져옵니다.
df1 = pd.read_excel('e_dongdaemoon_df.xlsx')
df2 = pd.read_excel('e_dongjack_df.xlsx')
df3 = pd.read_excel('e_mapo_df.xlsx')
df4 = pd.read_excel('e_seocho_df.xlsx')
df5 = pd.read_excel('e_seodaemoon_df.xlsx')

In [30]:
# 5개 구의 data를 하나의 dataframe으로 합쳐줍니다.
df = pd.concat([df1,df2,df3,df4,df5])

In [4]:
df.info

<bound method DataFrame.info of      Unnamed: 0  Unnamed: 0.1  ... Unnamed: 13 Unnamed: 13.1
0            72          1396  ...  [1] 행정동 명칭           용신동
1           151          2566  ...  [1] 행정동 명칭           제기동
2           152          2567  ...  [1] 행정동 명칭           제기동
3           234          3885  ...  [1] 행정동 명칭          이문1동
4           250          4580  ...  [1] 행정동 명칭          전농1동
..          ...           ...  ...         ...           ...
304       10872         80140  ...  [1] 행정동 명칭           연희동
305       10906         80174  ...  [1] 행정동 명칭          홍제1동
306       10907         80175  ...  [1] 행정동 명칭          홍제1동
307       10912         80264  ...  [1] 행정동 명칭           신촌동
308       10913         80265  ...  [1] 행정동 명칭           신촌동

[2364 rows x 15 columns]>

In [32]:
# 행정동 column이  Unnamed: 13.1으로 되어있는데 이름을 바꾸겠습니다.
# Unnamed:0 는 excel을 열거나 저장할때 생기는데, df.to_excel('~',index = False)이 문구를 추가하면 
# pd.read_excel("~", index_col=[0])
# Unnamed 열이 생기는것을 막을 수 있습니다.
df = df.rename(columns={'Unnamed: 13.1':'행정동'})
df.head()

   Unnamed: 0  Unnamed: 0.1  ... Unnamed: 13   행정동
0          72          1396  ...  [1] 행정동 명칭   용신동
1         151          2566  ...  [1] 행정동 명칭   제기동
2         152          2567  ...  [1] 행정동 명칭   제기동
3         234          3885  ...  [1] 행정동 명칭  이문1동
4         250          4580  ...  [1] 행정동 명칭  전농1동

[5 rows x 15 columns]

In [44]:
df.to_excel('tset.xlsx')

In [15]:
# 저희가 만들었던 파일에서 총인생활인구수가 비어져있는 행을 따로 추출합니다.
df1 = pd.read_excel('9to18_final1.xlsx')
test_df1 = df1[df1['총생활인구수'].isnull()]
test_df1.info

<bound method DataFrame.info of      Unnamed: 0      dong  ...  nonfulltime_sch  nonfulltime_sch_constraint
30           30      상일1동  ...                5                           0
31           31      상일2동  ...                0                           0
89           89    인헌동조원동  ...                0                           0
123         123    오류2동항동  ...                0                           0
128         128  독산4동시흥1동  ...                0                           0
173         173       거여동  ...               33                           0
180         180     금호동2가  ...                0                           0
183         183    남대문로5가  ...                0                           0
185         185       내수동  ...                0                           0
190         190       당산동  ...                0                           0
191         191     당산동3가  ...                0                           0
198         198       돈암동  ...                0                           0
211         211       면목동  ...                0                           0
222         222        묵동  ...                1                           0
224         224     문래동1가  ...                2                           0
225         225     문래동6가  ...                0                           0
226         226       문배동  ...                0                           0
233         233     보문동4가  ...                1                           1
234         234     보문동6가  ...                0                           0
240         240       산천동  ...                0                           0
241         241       삼각동  ...                0                           0
247         247     상왕십리동  ...                5                           0
255         255     성수동1가  ...                0                           0
271         271       신내동  ...                0                           0
283         283       신월동  ...                0                           0
290         290       신정동  ...                0                           0
292         292     안암동1가  ...                0                           0
296         296     양평동1가  ...                0                           0
297         297     양평동3가  ...                0                           0
298         298     양평동5가  ...                0                           0
299         299      여의도동  ...                8                           0
303         303    영등포동8가  ...                0                           0
318         318     을지로6가  ...                0                           0
345         345      종로6가  ...                0                           0
357         357        초동  ...                0                           0
361         361       풍납동  ...                0                           0
363         363     하왕십리동  ...                5                           0
364         364     한강로1가  ...                1                           0
365         365     한강로3가  ...                0                           0
370         370       행당동  ...                0                           0
407         407        중동  ...                0                           0
420         420      신공덕동  ...                0                           0
423         423       마포동  ...                0                           0
455         455       홍은동  ...                0                           0

[44 rows x 13 columns]>

In [17]:
# iloc를 이용하여 원하는 정보를 indexing할 수 있습니다.
test_df1.iloc[42,1]

'마포동'

In [11]:
# 생활인구가 비워져있는 data에 마포동이 있는지 확인합니다.
idx = test_df1[test_df1['dong'] == '마포동'].index
idx

Int64Index([423], dtype='int64')

In [43]:
# 제가 만들었던 data에도 마포동이 있는지 확인합니다.
idx =df[df['행정동'] == '마포동'].index
idx
# 확인결과 마포동이 있습니다. 즉 제가 데이터를 만들때 마포동으로 입력했던 것입니다.
# 마포동은 행정동이 아니라 법정동입니다.
 ignore_index=True

Int64Index([23], dtype='int64')

In [45]:
df.iloc[23]
# 답십리동이 나오는것을 확인할 수있었습니다.
# 마포동이 나오길 기대했는데 왜 이렇게 됐나 고민해봤습니다.
# 정답은 pd.conat을 할때 기존 index를 유지시킨채로 concat했기 때문에 이런문제가 생긴것입니다.
# 즉 마포구 data에서 23번째 데이터였던 마포동이 concat이후에 실제로는 더 아래 행에 있는데 
# index는 그대로 23번을 가져와서 문제였습니다.
# 그래서 concat할 때  ignore_index=True을 해줘야 합니다.

Unnamed: 0                            965
Unnamed: 0.1                        10668
운영기관                                 한국전력
충전소                            래미안엘파인 아파트
충전기 ID                                  3
타입                                   AC완속
지역                                 서울특별시
시군구                                 동대문구
주소              서울특별시 동대문구 답십리동 한천로37길 33
이용가능시간                               24시간
제한                 시설 상황에 따라 이용이 제한될 수 있음
종류                                    NaN
비고                                    NaN
Unnamed: 13                    [1] 행정동 명칭
행정동                                 답십리2동
Name: 23, dtype: object

In [67]:
df = pd.concat([df1,df2,df3,df4,df5],ignore_index=True)
df = df.rename(columns={'Unnamed: 13.1':'행정동'})
len(df)

2364

In [64]:
# df에서 법정동으로 입력된 친구들을 따로 추출하려고 합니다.
# 먼저는 nulldf라는 df를 만드는데, 기존에 df에 column을 그대로 가져오게 만들었습니다.
# 또한 이것을 for문에 넣어주면 되게끔 만들었습니다.
x = test_df1.iloc[0,1] # 상일1동
print(x)
idx = df[df['행정동'] != x].index # 상일1동이 아닌 index를 받습니다.
nulldf = df.drop(idx) # 상일1동이 아닌 index를 드랍해줍니다.
nulldf.head()

상일1동

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, 운영기관, 충전소, 충전기 ID, 타입, 지역, 시군구, 주소, 이용가능시간, 제한, 종류, 비고, Unnamed: 13, 행정동]
Index: []

In [65]:
for i in range(1,len(test_df1['dong'])):
  x = test_df1.iloc[i,1]
  idx = df[df['행정동'] != x].index
  a = df.drop(idx)
  # print(a.index)
  nulldf = pd.concat([nulldf,a])

In [62]:
nulldf.info
# 그래도 19개밖에 없네요,,,ㅎㅎ

<bound method DataFrame.info of       Unnamed: 0  Unnamed: 0.1  ... Unnamed: 13   행정동
949         3988         26782  ...         NaN    중동
950         3989         26783  ...         NaN    중동
951         3990         26784  ...         NaN    중동
959         4914         38073  ...         NaN  신공덕동
960         4915         38074  ...         NaN  신공덕동
961         4916         38075  ...         NaN  신공덕동
962         4917         38076  ...         NaN  신공덕동
963         4918         38077  ...         NaN  신공덕동
964         4919         38078  ...         NaN  신공덕동
965         4920         38079  ...         NaN  신공덕동
966         4921         38080  ...         NaN  신공덕동
967         4922         38081  ...         NaN  신공덕동
968         4923         38082  ...         NaN  신공덕동
752          181          2961  ...         NaN   마포동
2122        3391         25975  ...         NaN   홍은동
2123        3392         25976  ...         NaN   홍은동
2124        3393         25977  ...         NaN   홍은동
2125        3394         25978  ...         NaN   홍은동
2126        3395         25979  ...         NaN   홍은동

[19 rows x 15 columns]>

In [69]:
# 잘 
len(df)
for i in range(0,len(test_df1['dong'])):
  x = test_df1.iloc[i,0]
  print(x)
  idx = df[df['행정동'] == x].index
  print(idx)

30
Int64Index([], dtype='int64')
31
Int64Index([], dtype='int64')
89
Int64Index([], dtype='int64')
123
Int64Index([], dtype='int64')
128
Int64Index([], dtype='int64')
173
Int64Index([], dtype='int64')
180
Int64Index([], dtype='int64')
183
Int64Index([], dtype='int64')
185
Int64Index([], dtype='int64')
190
Int64Index([], dtype='int64')
191
Int64Index([], dtype='int64')
198
Int64Index([], dtype='int64')
211
Int64Index([], dtype='int64')
222
Int64Index([], dtype='int64')
224
Int64Index([], dtype='int64')
225
Int64Index([], dtype='int64')
226
Int64Index([], dtype='int64')
233
Int64Index([], dtype='int64')
234
Int64Index([], dtype='int64')
240
Int64Index([], dtype='int64')
241
Int64Index([], dtype='int64')
247
Int64Index([], dtype='int64')
255
Int64Index([], dtype='int64')
271
Int64Index([], dtype='int64')
283
Int64Index([], dtype='int64')
290
Int64Index([], dtype='int64')
292
Int64Index([], dtype='int64')
296
Int64Index([], dtype='int64')
297
Int64Index([], dtype='int64')
298
Int64Index([], dtype='int64')
299
Int64Index([], dtype='int64')
303
Int64Index([], dtype='int64')
318
Int64Index([], dtype='int64')
345
Int64Index([], dtype='int64')
357
Int64Index([], dtype='int64')
361
Int64Index([], dtype='int64')
363
Int64Index([], dtype='int64')
364
Int64Index([], dtype='int64')
365
Int64Index([], dtype='int64')
370
Int64Index([], dtype='int64')
407
Int64Index([], dtype='int64')
420
Int64Index([], dtype='int64')
423
Int64Index([], dtype='int64')
455
Int64Index([], dtype='int64')

In [ ]:
test_df1.head()

In [80]:
df.head()

   Unnamed: 0  Unnamed: 0.1  ... Unnamed: 13   행정동
0          72          1396  ...  [1] 행정동 명칭   용신동
1         151          2566  ...  [1] 행정동 명칭   제기동
2         152          2567  ...  [1] 행정동 명칭   제기동
3         234          3885  ...  [1] 행정동 명칭  이문1동
4         250          4580  ...  [1] 행정동 명칭  전농1동

[5 rows x 15 columns]

In [71]:
for i in range(1,len(test_df1['dong'])):
  x = test_df1.iloc[i,1]
  idx = df[df['행정동'] == x].index
  df = df.drop(idx)

In [72]:
for i in range(1,len(test_df1['dong'])):
  x = test_df1.iloc[i,1]
  idx = df[df['행정동'] == x].index
  print(idx)

Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

In [73]:
nulldf.to_excel('5guchek.xlsx')

In [74]:
nulldf = pd.read_excel('edit_null_dong.xlsx')

In [77]:
gudf = pd.concat([df, nulldf], ignore_index = True)

In [78]:
gudf.info
# 행이2364로 잘 합쳐졌네요!ㅎㅎ

<bound method DataFrame.info of       Unnamed: 0  Unnamed: 0.1  ...   행정동 Unnamed: 0.1.1
0             72          1396  ...   용신동            NaN
1            151          2566  ...   제기동            NaN
2            152          2567  ...   제기동            NaN
3            234          3885  ...  이문1동            NaN
4            250          4580  ...  전농1동            NaN
...          ...           ...  ...   ...            ...
2359        2122          3391  ...  홍은1동        25975.0
2360        2123          3392  ...  홍은1동        25976.0
2361        2124          3393  ...  홍은1동        25977.0
2362        2125          3394  ...  홍은1동        25978.0
2363        2126          3395  ...  홍은1동        25979.0

[2364 rows x 16 columns]>

In [79]:
# 마지막파일을 저장해둡시다.
gudf.to_excel('chargedf2.xlsx')