In [2]:
import pandas as pd
# Check the data frame

In [11]:
df1 = pd.read_excel('9to18_final1.xlsx')
df2 = pd.read_excel('18to24_final1.xlsx')

In [12]:
df1.head()
# column에 Unnamed column들이 존재하네여.. 이 거슬리는 column부터 없애주겠습니다.

   Unnamed: 0  dong  ...  nonfulltime_sch  nonfulltime_sch_constraint
0           0  개포1동  ...                3                           0
1           1  개포2동  ...                0                           0
2           2  개포4동  ...                4                           0
3           3  논현1동  ...                1                           0
4           4  논현2동  ...                9                           0

[5 rows x 13 columns]

In [13]:
df1 = df1.drop(['Unnamed: 0.1','Unnamed: 0'], axis = 1)
df2 = df2.drop(['Unnamed: 0.1','Unnamed: 0'], axis = 1)

In [14]:
df2.head()

   dong  weight  ...  nonfulltime_sch  nonfulltime_sch_constraint
0  개포1동     0.0  ...                3                           0
1  개포2동     0.0  ...                0                           0
2  개포4동     0.0  ...                4                           0
3  논현1동     0.0  ...                1                           0
4  논현2동     0.0  ...                9                           0

[5 rows x 11 columns]

In [15]:
df1.isnull().sum()
# 생활인구 데이터가 매칭이 안된 동이 44개나 존재 하네요..
# 다음과 같은 문제로 null 값이 존재 하지 않을까 싶습니다.
# 생활인구 데이터와 충전기 데이터가 같은 행정동명을 쓰지 않아서 
# 생활인구 데이터와 충전기 데이터를 합칠때 오류 
# 생활인구데이터 가공시 행정동명에 오류가 생겼을 경우 등등..

dong                           0
weight                         0
총생활인구수                        44
fulltime_fch                   0
fulltime_fch_constraint        0
nonfulltime_fch                0
nonfulltime_fch_constraint     0
fulltime_sch                   0
fulltime_sch_constraint        0
nonfulltime_sch                0
nonfulltime_sch_constraint     0
dtype: int64

In [16]:
df1['총생활인구수'].value_counts
df1.isnull

<bound method DataFrame.isnull of       dong  weight  ...  nonfulltime_sch  nonfulltime_sch_constraint
0     개포1동     0.0  ...                3                           0
1     개포2동     0.0  ...                0                           0
2     개포4동     0.0  ...                4                           0
3     논현1동     0.0  ...                1                           0
4     논현2동     0.0  ...                9                           0
..     ...     ...  ...              ...                         ...
455    홍은동     0.0  ...                0                           0
456   홍제1동     0.0  ...                0                           0
457  남가좌2동     0.0  ...               11                           7
458  북가좌2동     0.0  ...                1                           0
459   응암1동     0.0  ...                0                           2

[460 rows x 11 columns]>

In [17]:
# 행정동명으로 변환된 생활인구 데이터를 불러와서 무엇이 문제인지 확인해 봐야겠습니다.
# null값이 존재하는 행만 뽑은 후 어떤 동인지 확인해 보겠습니다.
test_df1 = df1[df1['총생활인구수'].isnull()]
test_df1['dong'].value_counts

<bound method IndexOpsMixin.value_counts of 30         상일1동
31         상일2동
89       인헌동조원동
123      오류2동항동
128    독산4동시흥1동
173         거여동
180       금호동2가
183      남대문로5가
185         내수동
190         당산동
191       당산동3가
198         돈암동
211         면목동
222          묵동
224       문래동1가
225       문래동6가
226         문배동
233       보문동4가
234       보문동6가
240         산천동
241         삼각동
247       상왕십리동
255       성수동1가
271         신내동
283         신월동
290         신정동
292       안암동1가
296       양평동1가
297       양평동3가
298       양평동5가
299        여의도동
303      영등포동8가
318       을지로6가
345        종로6가
357          초동
361         풍납동
363       하왕십리동
364       한강로1가
365       한강로3가
370         행당동
407          중동
420        신공덕동
423         마포동
455         홍은동
Name: dong, dtype: object>

In [41]:
test_df1.iloc[[1,0]]

    dong  weight  ...  nonfulltime_sch  nonfulltime_sch_constraint
31  상일2동     0.0  ...                0                           0
30  상일1동     0.0  ...                5                           0

[2 rows x 11 columns]

In [3]:
df = pd.read_excel('seoul_list.xlsx')

In [43]:
for i in range(0,len(test_df1['dong'])):
  x = test_df1.iloc[i,0]
  idx = df[df['Unnamed: 13'] == x].index
  print(idx)
#충격적이게도 기존의 seoul list에는 상일1동, 상일2동을 제외한 null값에 해당하는 동이 없었다.
#즉 손으로 직접 행정동을 입력할 당시 행정동 대신 법정동을 입력해서 이런 문제가 생긴것 같다.
#생활인구에 있는 데이터, 서울에 있는 전기차 충전소 데이터는 행정동 기준인데 법정동으로 매꿨던것 같다.

Int64Index([361, 362, 4639, 5681, 5682, 5683, 5684, 5685, 9734, 9735, 9736,
            9737],
           dtype='int64')
Int64Index([624, 625, 626, 627, 628, 629, 630, 631, 5986, 5987, 5988], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

In [ ]:
#다시 매꾸는 작업을 해야겠다.ㅠ

In [51]:
# 다음 파일은 같은 팀원이 10개 구를 정리한 충전소 파일입니다.
gudf1= pd.read_excel('hangjungdong.xlsx')
gudf1.head()

   Unnamed: 0  Unnamed: 0.1  ...                              비고   행정동
0           6            83  ...  15분무료 / 2시간1000원 /이후 10분당 500원  가락1동
1           7            84  ...  15분무료 / 2시간1000원 /이후 10분당 500원  가락1동
2         507          8085  ...                             NaN  가락1동
3         508          8086  ...                             NaN  가락1동
4         509          8087  ...                             NaN  가락1동

[5 rows x 11 columns]

In [62]:
# null값으로 되있는 동(법정동)으로 입력된 행을 찾아서 gudf11으로 따로저장합시다. 
# 먼저 gudff11이라는 데이터프레임을 기존에 있던 데이터프레임과 같이 만듭니다.

x = test_df1.iloc[i,0]
idx = gudf1[gudf1['행정동'] != x].index
gudf11 = gudf1.drop(idx)
 
for i in range(1,len(test_df1['dong'])):
  x = test_df1.iloc[i,0]
  idx = gudf1[gudf1['행정동'] != x].index
  a = gudf1.drop(idx)
  gudf11 = pd.concat([gudf11,a])

In [63]:
gudf11.head()

      Unnamed: 0  Unnamed: 0.1  운영기관        충전소  ...       이용가능시간   종류   비고  행정동
4174       10432         76896  스타코프  위례 A1-5BL  ...  09:00~18:00  NaN  NaN  거여동
4175       10433         76897  스타코프  위례 A1-5BL  ...  09:00~18:00  NaN  NaN  거여동
4176       10434         76898  스타코프  위례 A1-5BL  ...  09:00~18:00  NaN  NaN  거여동
4177       10435         76899  스타코프  위례 A1-5BL  ...  09:00~18:00  NaN  NaN  거여동
4178       10436         76900  스타코프  위례 A1-5BL  ...  09:00~18:00  NaN  NaN  거여동

[5 rows x 11 columns]

In [64]:
gudf11.to_excel('gudf1_check.xlsx')

In [65]:
# 법정동이었던 행을 기존에 있던 dataframe에서 제거합니다.
for i in range(1,len(test_df1['dong'])):
  x = test_df1.iloc[i,0]
  idx = gudf1[gudf1['행정동'] == x].index
  gudf1 = gudf1.drop(idx)

In [67]:
# 잘 제거 되었는지 확인해보기
for i in range(1,len(test_df1['dong'])):
  x = test_df1.iloc[i,0]
  idx = gudf1[gudf1['행정동'] == x].index
  print(idx)
# 잘 제거가 되었네요

Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

In [68]:
#이것 또한 다시 저장해두고, 법정동을 해정동으로 바꾼 후 두 파이을 합치겠습니다.
gudf1.to_excel('gudf1_hangjung.xlsx')