In [181]:
import pandas as pd
df = pd.read_excel('seoul_EVstock (1).xlsx')

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11071 entries, 0 to 11070
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   4566 non-null   float64
 1   운영기관         11071 non-null  object
 2   충전소          11071 non-null  object
 3   충전기 ID       11071 non-null  int64
 4   타입           11071 non-null  object
 5   지역           11071 non-null  object
 6   시군구          11071 non-null  object
 7   주소           11071 non-null  object
 8   이용가능시간       10267 non-null  object
 9   제한           5849 non-null   object
 10  종류           297 non-null    object
 11  비고           1804 non-null   object
 12  Unnamed: 12  7584 non-null   object
 13  dong         11071 non-null  object
dtypes: float64(1), int64(1), object(12)
memory usage: 1.2+ MB

In [183]:
df['타입'].value_counts(10)
#검색을 해봤는데, ac완속을 제외한 충전기는 다 급속이었습니다.

AC완속               0.871918
DC차데모+AC3상+DC콤보    0.063951
DC콤보               0.048686
DC차데모+DC콤보         0.011652
DC차데모+AC3상         0.002619
AC3상               0.000813
DC차데모              0.000361
Name: 타입, dtype: float64

In [184]:
df['종류'].value_counts(dropna = False)
# 급속에도 kW수에 따라 종류가 나뉘는데 NaN값이 압도적으로 많아서 
# 충전기는 급속이냐 완속이냐로 나누겠습니다.

NaN            10774
급속(50kW)         116
급속(200kW동시)       72
급속(100kW멀티)       58
급속(100kW단독)       34
급속(400kW동시)        8
급속(100kW동시)        8
s                  1
Name: 종류, dtype: int64

In [185]:
df['비고'].value_counts(10,dropna = False)
# 제한조건이 없는 충전기가 83퍼센트나 되네요

NaN                         0.837052
입주민만 사용가능 거주자외 출입제한         0.064493
입주민만 사용가능 거주자 외 출입제한        0.034234
입주민 등 거주자 외 출입 제한           0.010207
공동주택 입주민 전용                 0.005058
                              ...
주차비 30분 무료, 전기차 충전기 무료      0.000090
1시간 무료,10분 130원             0.000090
보안시설(연구소)로 임직원 전용           0.000090
1시간 초과시 주차권 발급 요청           0.000090
10분/250원 충전차량에한하여 1시간 무료    0.000090
Name: 비고, Length: 121, dtype: float64

In [186]:
df['제한'].value_counts(10,dropna = False)
# 제한은 아래 6개 기준만 추출하겠습니다.
# 거주자외 출입제한
# 입주자외 출입제한 (긴급상황 이용가능)
# 사업장 거주자외 출입제한
# 학교 교직원으로 제한 
# 회원전용
# 아파트
# 해당 시설 정책에 따라 이용이 불가할 수 있습니다 이거는 좀 애매하네요..

NaN                             0.471683
거주자외 출입제한                       0.263662
시설 상황에 따라 이용이 제한될 수 있음          0.129347
입주자외 출입제한 (긴급상황 이용가능)           0.035769
해당 시설 정책에 따라 이용이 불가할 수 있습니다     0.031343
해당 시설 정책에 따라 이용이 불가할 수 있습니다.    0.031162
사업장 거주자외 출입제한                   0.017794
학교 교직원으로 제한                     0.004155
RFID 카드만 가능                     0.003884
금융기관 시설 이용자로 제한                 0.001536
회원전용                            0.001445
아파트                             0.001174
실내(부분개방)_일부 이용자 제한 가능           0.000813
어댑터 사용 불가                       0.000723
주유소 시설 이용자로 제한                  0.000723
업무용 빌딩(공장 등) 입주자 대상 개방          0.000632
마트(쇼핑몰) 이용자, 상가 입주자로 사용 제한      0.000542
숙박 시설 이용자로 제한                   0.000542
관람장 시설 이용자로 제한                  0.000361
직원 전용, 외부인 사용불가                 0.000271
부분공용                            0.000271
소방서관용차 전용                       0.000271
실내(부분개방)_거주자외 출입제한              0.000271
교육원 시설 이용자로 제한                  0.000181
거주자 및 방문자 사용가능                  0.000181
병원내복잡으로 내부차량 사용                 0.000181
개인용으로 이용불가                      0.000090
보건소 시설 이용자로 제한                  0.000090
시설 상황에 따라 이용이 제한될 수 있음.         0.000090
주차장협소로 관용차 전용                   0.000090
소방서 관용차 전용                      0.000090
점포영업시간에 가능                      0.000090
주민센터 주차장 상황에따라 통제함              0.000090
차량정비 고객으로 제한                    0.000090
시설 이용자로 제한                      0.000090
비개방, 관용차전용                      0.000090
주차장공사로 임시철거                     0.000090
기숙사 거주자외 출입제한                   0.000090
Name: 제한, dtype: float64

In [187]:
df['이용가능시간'].value_counts( dropna = False)
# 이용가능한 시간도 기준을 다 입력하기에는 무리가 있어서 
# 상위 4개와 기존에 만들었던 기준들을 사용하겠습니다.

24시간 이용가능                               5787
09:00~18:00                             1700
24시간 이용가능,입주민만 사용가능 거주자외출입제한             998
NaN                                      804
24시간                                     595
                                        ...
평일 06:00~22:00, 토 09:00~17:00, 일 비개방       1
평일07:00~22:00,토일 09:00~18:00               1
평일 08:30~18:00 / 토요일 08:30~15:30           1
10:00~22:00                                1
09:00~20:00                                1
Name: 이용가능시간, Length: 118, dtype: int64

In [188]:
fulltime_ratio = 5787 + 998 + 804 + 595

In [189]:
a = len(df[df['이용가능시간'] == '~'])
b = len(df[df['이용가능시간'] == '00:00 ~ 23:59' ])
c = len(df[df['이용가능시간'] == '24시간 이용가능,입주민만 사용가능 거주자 외 출입제' ])
d = len(df[df['이용가능시간'] == '주증/주말 : 24시간' ])
e = len([df['이용가능시간'] == '입주민 전용 24시간' ])
others = (a+b+c+d+e)
print((fulltime_ratio + others)/11071)

# 전에 24시간 가능한 가능한 충전소가 약 77퍼센트 존재한다고 봤는데
# 이번에는 약 76.2퍼가 나왔습니다. 약 1퍼센트의 오차는 어디서 발생했는지 잘 모르겠습니다..

0.7626230692801012

In [190]:
# 급속이냐 완속이냐 나눠주는 함수입니다.
def classify_fast(df):
  f_df = df[df['타입'] != 'AC완속'] 
  idxs = f_df.index
  s_df = df.drop(idxs)
  return f_df, s_df # f_df는 급속충전기, s_df는 완속충전기

# 24시간 이용가능하냐 그렇지 않냐 나눠주는 함수 입니다.
def classify_time(df):
  f1 = df[df['이용가능시간'] == '24시간 이용가능' ]
  f2 = df[df['이용가능시간'] == '주증/주말 : 24시간' ]
  f3 = df[df['이용가능시간'] == '24시간' ]
  f4 = df[df['이용가능시간'] == '~' ]
  f5 = df[df['이용가능시간'] == '00:00 ~ 23:59' ]
  f6 = df[df['이용가능시간'] == 'NaN' ]
  f7 = df[df['이용가능시간'] == '주중/주말 : 24시간']
  f8 = df[df['이용가능시간'] == '24시간(단, 22시이후근무자운영' ]
   
  #이용 가능 시간 column에 시간 말고 다른 제한조건이 같이 있는 raw도 있습니다.
  c1 = df[df['이용가능시간'] == '24시간 이용가능,입주민만 사용가능 거주자외출입제한' ]
  c2 = df[df['이용가능시간'] == '24시간 이용가능,입주민만 사용가능 거주자 외 출입제' ]
  c3 = df[df['이용가능시간'] == '입주민 전용 24시간' ]
  c4 = df[df['이용가능시간'] == '24시간 이용가능(외부인 미개방)' ]
 
  totalf = pd.concat([f1,f2,f3,f4,f5,f6,f7,f8])
  temporary_c = pd.concat([c1, c2, c3,c4])
  full = pd.concat([totalf, temporary_c]) #24시간 이용가능한 충전기 입니다.
  idx = full.index
  nonfull = df.drop(idx)
  return full, nonfull, temporary_c

In [191]:
# 제한조건이 있는지 없는지 나눠주는 함수입니다.
def classify_constraints(df,temporary_c):
  c1 = df[df['비고'] == '입주민만 사용가능 거주자외 출입제한' ]
  c2 = df[df['비고'] == '입주민만 사용가능 거주자 외 출입제한' ]
  c3 = df[df['비고'] == '입주민 등 거주자 외 출입 제한' ]
  c4 = df[df['비고'] == '공동주택 입주민 전용' ]
  c5 = df[df['비고'] == '거주자외 출입제한' ]
  c6 = df[df['비고'] == '입주민으로 사용제한' ]
  c7 = df[df['제한'] == '거주자외 출입제한' ]
  c8 = df[df['제한'] == '입주자외 출입제한 (긴급상황 이용가능)' ]  
  c9 = df[df['제한'] == '사업장 거주자외 출입제한' ]  
  c10 = df[df['제한'] == '학교 교직원으로 제한 ' ]  
  c11 = df[df['제한'] == '회원전용' ]
  c12 = df[df['제한'] == '아파트' ]  
  
  newc = pd.concat( [c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12])
  newc = newc.drop_duplicates()  # 비고랑 제한이랑 중복되는 놈들이 있을 수 있기에 빼줍니다.
  # fulltime data가 아니면 tmeporary_c데이터를 포함하고 있지 않기에 newc를 바로 출력하면됩니다.
  # 반번 fulltime데이터면 temporary_c 데이터를 포함하고 있기에 temporary_c데이터도 고려해줘야합니다.
  if len(df[df['이용가능시간'] == '24시간']) != 0: # fulltime이면 
    print('full data')
    c = pd.concat([temporary_c, newc])
    c = c.drop_duplicates() # 이용가능한시간이랑 제한이랑 겹치는 애들이 있을 수 있으니 중복되는 애들은 빼줍시다.
    nonc = df.drop(c.index)
    
  else:
    print('nonfulltime')
    nonc = df.drop(newc.index)
    c = newc
          
  return c,nonc

In [192]:
# 앞에서 만든 분류 함수들을 순차적으로 돌려주는 함수입니다.
def classify_all(df):
  # fast slow classify
  fast, slow = classify_fast(df)
  # time classify
  fast_full , fast_nonfull , temporary_fast_cons = classify_time(fast) 
  slow_full , slow_nonfull , temporary_slow_cons = classify_time(slow)
  print('ff',len(fast_full))
  print('fnf',len(fast_nonfull))
  print('sf',len(slow_full))
  print('snf',len(slow_nonfull))
  print('total',len(fast_full) + len(fast_nonfull) +len(slow_full) + len(slow_nonfull) )
  # constraints classify
  ffc, ffnc = classify_constraints(fast_full,temporary_fast_cons)
  print('a')
  nfc, nfnc = classify_constraints(fast_nonfull,temporary_fast_cons)
  print('d')
  fsc, fsnc = classify_constraints(slow_full, temporary_slow_cons)
  print('c')
  nsc, nsnc = classify_constraints(slow_nonfull, temporary_slow_cons)
  print('d')
  return ffc,ffnc, nfc, nfnc, fsc, fsnc, nsc, nsnc

In [193]:
ffc,ffnc, nfc, nfnc, fsc, fsnc, nsc, nsnc = classify_all(df)

ff 931
fnf 487
sf 6802
snf 2851
total 11071
full data
a
nonfulltime
d
full data
c
nonfulltime
d

In [195]:
ffc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 203 to 5955
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   11 non-null     float64
 1   운영기관         38 non-null     object
 2   충전소          38 non-null     object
 3   충전기 ID       38 non-null     int64
 4   타입           38 non-null     object
 5   지역           38 non-null     object
 6   시군구          38 non-null     object
 7   주소           38 non-null     object
 8   이용가능시간       38 non-null     object
 9   제한           38 non-null     object
 10  종류           0 non-null      object
 11  비고           0 non-null      object
 12  Unnamed: 12  15 non-null     object
 13  dong         38 non-null     object
dtypes: float64(1), int64(1), object(12)
memory usage: 4.5+ KB

In [196]:
ffnc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 893 entries, 0 to 5001
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   378 non-null    float64
 1   운영기관         893 non-null    object
 2   충전소          893 non-null    object
 3   충전기 ID       893 non-null    int64
 4   타입           893 non-null    object
 5   지역           893 non-null    object
 6   시군구          893 non-null    object
 7   주소           893 non-null    object
 8   이용가능시간       893 non-null    object
 9   제한           220 non-null    object
 10  종류           224 non-null    object
 11  비고           220 non-null    object
 12  Unnamed: 12  692 non-null    object
 13  dong         893 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 104.6+ KB

In [197]:
a =len(ffc) + len(ffnc) + len(nfc) +  len(nfnc) + len(fsc) +  len(fsnc) +  len(nsc) + len(nsnc)
print(a)
# 중복과 누락없이 잘 저장되었습니다.

11071

In [ ]:
# 중복되는 친구들을 고려하지 못해서 해매다가 겨우 찾았습니다..

In [198]:
# dong을 추출합니다.
a = df['dong'].values
index = set(a)
print(a)

['성수1가1동' '성수1가1동' '마장동' ... '창1동' '창1동' '창4동']

In [205]:
EVstockdf = pd.DataFrame(index = index)

EVstockdf['ffnc'] =  ffnc['dong'].value_counts()
EVstockdf['ffc'] =  ffc['dong'].value_counts()
EVstockdf['nfnc'] =  nfnc['dong'].value_counts()
EVstockdf['nfc'] =  nfc['dong'].value_counts()
EVstockdf['fsnc'] =  fsnc['dong'].value_counts()
EVstockdf['fsc'] =  fsc['dong'].value_counts()
EVstockdf['nsnc'] =  nsnc['dong'].value_counts()
EVstockdf['nsc'] =  nsc['dong'].value_counts()

In [207]:
EVstockdf.head()

      ffnc  ffc  nfnc  nfc   fsnc   fsc  nsnc   nsc
공덕동    1.0  NaN   NaN  NaN   25.0  10.0   8.0  17.0
삼성8동   NaN  NaN   NaN  NaN    1.0   NaN   NaN   NaN
가산동   31.0  NaN   4.0  6.0  164.0   8.0  43.0  21.0
일원1동   1.0  NaN   NaN  NaN    NaN   NaN   1.0   NaN
방이1동   NaN  NaN   NaN  NaN    NaN   4.0   8.0   NaN

In [212]:
EVstockdf.info()
# 행정동은 426개인데, 저희가 정리한 데이터는 428개네여... 어디가 잘못되었는지 ㅠ
# 짐작가는 곳은 'hangjungdong'데이터에서 생활인구데이터와 겹치치 않은 곳을 추출했는데
# 법정동이름이랑 행정동이름이랑 같은 곳이 존재했던 것 같습니다..
# 일단 2개 차이니깐 생활인구데이터를 합치면서 진행해보겠습니다.

<class 'pandas.core.frame.DataFrame'>
Index: 428 entries, 공덕동 to 녹번동
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ffnc    277 non-null    float64
 1   ffc     20 non-null     float64
 2   nfnc    146 non-null    float64
 3   nfc     50 non-null     float64
 4   fsnc    336 non-null    float64
 5   fsc     287 non-null    float64
 6   nsnc    299 non-null    float64
 7   nsc     196 non-null    float64
dtypes: float64(8)
memory usage: 50.1+ KB

In [213]:
EVstockdf.to_excel('EVstock.xlsx')

428