In [1]:
import pandas as pd

In [64]:
df = pd.read_excel('seoul_list.xlsx')

In [4]:
df.head(1)

   Unnamed: 0            운영기관           충전소  ...        비고         NaN Unnamed: 13
0          23  환경부(한국자동차환경협회)  DMC 산학협력연구센터  ...  10분/500원  [1] 행정동 명칭         상암동

[1 rows x 14 columns]

In [65]:
# 서울에 충전기 자료중에서 아래 구에 해당하는 데이터만 따로 뽑아주겠습니다.
#  강남구 강동구 강북구 강서구 관악구 광진구 구로구 금천구 노원구 도봉구
gulist = ['강남구 ', '강동구 ','강북구 ', '강서구 ',  '관악구 ', '광진구 ','구로구 ','금천구 ','노원구 ','도봉구 ']
# 먼저 강남구 부터 하겠습니다. 이후에는 for문을 돌릴것인데,
# 먼저 강남구 부터하는 이유는 데이터 프레임을 만들기 위함입니다.
idx = df[df['시군구'] !='강남구 '].index 
gudf = df.drop(idx)
gudf.head(1)

   Unnamed: 0            운영기관  ...         NaN  Unnamed: 13
3          52  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭         대치2동

[1 rows x 14 columns]

In [66]:
for i in range(1,len(gulist)):
  idx = df[df['시군구'] != str(gulist[i])].index
  a = df.drop(idx)
  gudf = pd.concat([gudf,a], ignore_index = True)
print(len(gudf))

4141

In [68]:
gudf['시군구'].value_counts()

# 10개구가 잘 저장되었는것을 확인할 수 있다.

강남구     790
강서구     690
구로구     560
노원구     447
금천구     414
강동구     330
관악구     273
도봉구     260
광진구     206
강북구     171
Name: 시군구, dtype: int64

In [69]:
# gudf는 법정동으로 채우기 전 자료라서 법정동으로 표기한 동은 없고
# 그냥 null값이 존재합니다. 
nulldf = gudf[gudf['Unnamed: 13'].isnull()]
nulldf['Unnamed: 13'].value_counts(dropna=False)
# nulldf에NaN값으로 표현된 행정동만 잘 저장되었는 것을 확인할 수 있네요.

NaN    514
Name: Unnamed: 13, dtype: int64

In [75]:
# 따로 저장후 null값을 직접 채워야겠습니다...ㅎㅎ
nulldf.to_excel('null_df.xlsx',index = False)
len(nulldf)

514

In [71]:
# null값을 제외한 데이터를 따로 만들어줍니다.
idx = gudf[gudf['Unnamed: 13'].isnull()].index
gudf = gudf.drop(idx)
len(gudf)

3627

In [79]:
# 행정동으로 채운 nulldf를 불러옵니다.
enulldf = pd.read_excel('enull_df.xlsx',index_col=[0] )
len(enulldf)

514

In [80]:
df3 = pd.concat([enulldf,gudf],ignore_index = True)
len(df3)

4141

In [81]:
# column을 수정해줍니다.
df3 = df3.rename(columns={"Unnamed: 12" : "dong"})
df3 = df3.drop("Unnamed: 13",axis = 1)
df3 = df3.drop("Unnamed: 0",axis = 1)
# df3 = df3.drop("NaN",axis = 1)

In [82]:
df3.head()

  운영기관          충전소  충전기 ID    타입  ...   종류          비고  dong  NaN
0  차지비  삼성롯데캐슬킹덤아파트       1  AC완속  ...  NaN  공동주택 입주민전용  삼성2동  NaN
1  차지비  삼성롯데캐슬킹덤아파트       2  AC완속  ...    s  공동주택 입주민전용  삼성2동  NaN
2  차지비  삼성롯데캐슬킹덤아파트       3  AC완속  ...  NaN  공동주택 입주민전용  삼성2동  NaN
3  차지비  삼성롯데캐슬킹덤아파트       4  AC완속  ...  NaN  공동주택 입주민전용  삼성2동  NaN
4  차지비  삼성롯데캐슬킹덤아파트       5  AC완속  ...  NaN  공동주택 입주민전용  삼성2동  NaN

[5 rows x 13 columns]

In [31]:
# 이 데이터와 이전에 만든 15개의 데이터를 합치면 되겠습니다. ㅎ

In [83]:
df1 = pd.read_excel("chargedf1.xlsx",index_col=[0] )
df2 = pd.read_excel("chargedf2.xlsx",index_col=[0] )
# df = pd.conat([df1,df2,enulldf],ignore_index)

In [84]:
df1.head(1)

   Unnamed: 0.1  Unnamed: 0.1.1  ...   행정동 Unnamed: 0.1.1.1
0             6              83  ...  가락1동              NaN

[1 rows x 12 columns]

In [85]:
# unnamed를 없애줍시다..
df1 = df1.drop("Unnamed: 0.1", axis = 1)
df1 = df1.drop("Unnamed: 0.1.1", axis = 1)
df1 = df1.drop("Unnamed: 0.1.1.1", axis= 1)
df1 = df1.rename(columns = {"행정동" : "dong"} )

In [86]:
df1.head(1)

             운영기관   충전소  ...                              비고  dong
0  환경부(한국자동차환경협회)  가락시장  ...  15분무료 / 2시간1000원 /이후 10분당 500원  가락1동

[1 rows x 9 columns]

In [87]:
df2.head(1)

   Unnamed: 0.1  Unnamed: 0.1.1  ...  행정동 Unnamed: 0.1.1.1
0            72            1396  ...  용신동              NaN

[1 rows x 16 columns]

In [88]:
df2 = df2.drop("Unnamed: 0.1", axis = 1)
df2 = df2.drop("Unnamed: 0.1.1", axis = 1)
df2 = df2.drop("Unnamed: 0.1.1.1", axis= 1)
df2 = df2.drop("Unnamed: 13", axis= 1)
df2 = df2.rename(columns = {"행정동" : "dong"} )

In [89]:
df2.head(1)

             운영기관    충전소  충전기 ID               타입  ...   제한        종류       비고 dong
0  환경부(한국자동차환경협회)  동대문구청       1  DC차데모+AC3상+DC콤보  ...  NaN  급속(50kW)  주차요금 별도  용신동

[1 rows x 12 columns]

In [90]:
fdf = pd.concat([df1,df2,df3], ignore_index=True)

In [91]:
fdf.head()

             운영기관   충전소               타입   시군구  ... 충전기 ID   지역   제한  NaN
0  환경부(한국자동차환경협회)  가락시장             DC콤보  송파구   ...    NaN  NaN  NaN  NaN
1  환경부(한국자동차환경협회)  가락시장             DC콤보  송파구   ...    NaN  NaN  NaN  NaN
2            한국전력  가락시장  DC차데모+AC3상+DC콤보  송파구   ...    NaN  NaN  NaN  NaN
3            한국전력  가락시장  DC차데모+AC3상+DC콤보  송파구   ...    NaN  NaN  NaN  NaN
4            한국전력  가락시장  DC차데모+AC3상+DC콤보  송파구   ...    NaN  NaN  NaN  NaN

[5 rows x 13 columns]

In [42]:
# 지역과 충전기 아이디는 상관이 없는데, 제한은 중요한 column입니다.
# 제한이 마지막 column에 배치되었다는 것은 제한이라는 colunmn이 없는 df가 있었다는 겁니다.
# 확인해보니 10개 구의 데이터를 조사했던 'hangjungdong.xlsx'파일에 제한이 빠져있었습니다... ㅠ
# 다시 제한을 살려야겠습니다...

In [43]:
# 'hangjungdong.xlsx' 파일에 있는 데이터는 아래 10개 구에 해당하는 데이터입니다.
# 성동구 성북구 송파구 양천구 영등포구 용산구 은평구 종로구 중구 중랑구
# seoul_list에서 위에 있는 구를 빼낸뒤 'chargedf1.xlsx'에서 동 column을 매칭 시켜야겠습니다.

In [92]:
df = pd.read_excel("seoul_list.xlsx")

In [93]:
gulist = ['성북구 ', '송파구 ','양천구 ', '영등포구 ', '용산구 ','은평구 ','종로구 ','중구 ','중랑구 ']  
# 먼저 gudf라는 df를 만들어야하는데, 데이터프레임을 df에서 그대로 가져옵니다.
idx = df[df['시군구'] != "성동구 "].index
gudf = df.drop(idx)
# for문을 돌려 나머지 9개구의 데이터도 받아옵니다.
for i in range(0,len(gulist)):
  idx = df[df['시군구'] != str(gulist[i])].index
  a = df.drop(idx)
  gudf = pd.concat([gudf,a], ignore_index = True)

In [94]:
gudf["시군구"].value_counts()
#10개 구가 잘 추출되었네요!

송파구      772
성동구      544
성북구      509
영등포구     505
양천구      473
은평구      415
중랑구      391
용산구      386
중구       332
종로구      239
Name: 시군구, dtype: int64

In [95]:
gudf['Unnamed: 13'].isnull().sum()
# 609개의 null값이 존재하네요

609

In [96]:
# 나중에 나온결과와 비교하기 위해 gudf를 copy해줍니다.
origingudf = gudf.copy()

In [97]:
df1.head(1)

             운영기관   충전소  ...                              비고  dong
0  환경부(한국자동차환경협회)  가락시장  ...  15분무료 / 2시간1000원 /이후 10분당 500원  가락1동

[1 rows x 9 columns]

In [50]:
#주소만 따로 저장해서 주소를 dong으로 바꿀것입니다. 
#주소 칼럼은 필요없는 데이터이며, 두 데이터에서 같은 데이터인지 비교할때 주소가 기준이되기 때문입니다.

agudf = gudf["주소"]
agudf = pd.DataFrame(agudf)
agudf.head()

                           주소
0          서울특별시 성동구 둘레길 47-5
1          서울특별시 성동구 둘레길 47-5
2  서울특별시 성동구 마장동 808(마장동 808)
3        서울특별시 성동구 고산자로 26길 6
4        서울특별시 성동구 고산자로 26길 6

In [98]:
#이제 매칭을 해보겠습니다.

for i in range(0,len(df1)):
  a = df1['주소'][i]
  b = df1['dong'][i]
  agudf[(agudf['주소'] == str(a))] = b
agudf.head()

       주소
0  성수1가1동
1  성수1가1동
2     마장동
3     마장동
4     마장동

In [99]:
# agudf를 gudf에 붙여줍니다.
gudf['Unnamed: 13'] = agudf['주소']
gudf.head()

   Unnamed: 0            운영기관  ...         NaN  Unnamed: 13
0         164  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭       성수1가1동
1         165  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭       성수1가1동
2        1731  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭          마장동
3        1733  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭          마장동
4        1734  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭          마장동

[5 rows x 14 columns]

In [100]:
#잘 되었는지 확인해봅시다.
# 우선 'Unnamed: 13'부터 이름을 바꿔줍시다.
gudf = gudf.rename(columns={'Unnamed: 13' : 'dong'})
origingudf = origingudf.rename(columns = {'Unnamed: 13' : 'dong'})

In [101]:
# gudf에 null값이 없이 잘 매칭 되었네요
gudf['dong'].isnull().sum()

0

In [102]:
origingudf['dong'].isnull().sum()

609

In [103]:
# gudf와 origingudf에서 일치하지 않는 값이 null값들 밖에 없다면 잘 정리된것입니다.
# 결과를 보니 잘 정리되었네요!
a = gudf[gudf['dong'] != origingudf['dong']].index
print(len(a))

609

In [104]:
gudf.head(1)

   Unnamed: 0            운영기관  ...         NaN    dong
0         164  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭  성수1가1동

[1 rows x 14 columns]

In [105]:
gudf.info

<bound method DataFrame.info of       Unnamed: 0            운영기관  ...         NaN    dong
0            164  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭  성수1가1동
1            165  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭  성수1가1동
2           1731  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭     마장동
3           1733  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭     마장동
4           1734  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭     마장동
...          ...             ...  ...         ...     ...
4561       80137         서울에너지공사  ...  [1] 행정동 명칭    망우본동
4562       80169         서울에너지공사  ...  [1] 행정동 명칭    신내2동
4563       80170         서울에너지공사  ...  [1] 행정동 명칭    신내2동
4564       80171         서울에너지공사  ...  [1] 행정동 명칭    중화1동
4565       80295              기타  ...  [1] 행정동 명칭    중화2동

[4566 rows x 14 columns]>

In [106]:
l

4141

In [107]:
# 이제 합쳐줍시다.
fdf = pd.concat([gudf, df2, df3], ignore_index=True)

In [108]:
fdf.info

<bound method DataFrame.info of        Unnamed: 0            운영기관  ...         NaN    dong
0           164.0  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭  성수1가1동
1           165.0  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭  성수1가1동
2          1731.0  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭     마장동
3          1733.0  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭     마장동
4          1734.0  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭     마장동
...           ...             ...  ...         ...     ...
11066         NaN      한국전기차인프라기술  ...  [1] 행정동 명칭     NaN
11067         NaN      한국전기차인프라기술  ...  [1] 행정동 명칭     NaN
11068         NaN      한국전기차인프라기술  ...  [1] 행정동 명칭     NaN
11069         NaN      한국전기차인프라기술  ...  [1] 행정동 명칭     NaN
11070         NaN         서울에너지공사  ...  [1] 행정동 명칭     NaN

[11071 rows x 14 columns]>

In [109]:
df.info

<bound method DataFrame.info of        Unnamed: 0            운영기관  ...         NaN  Unnamed: 13
0              23  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭          상암동
1              47  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭          상암동
2              48  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭          상암동
3              52  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭         대치2동
4              67  환경부(한국자동차환경협회)  ...  [1] 행정동 명칭         일원2동
...           ...             ...  ...         ...          ...
11071       80571              기타  ...  [1] 행정동 명칭         월곡1동
11072       80572              기타  ...  [1] 행정동 명칭         월곡1동
11073       80573              기타  ...  [1] 행정동 명칭         월곡1동
11074       80574              기타  ...  [1] 행정동 명칭         월곡1동
11075       80575              기타  ...  [1] 행정동 명칭         월곡1동

[11076 rows x 14 columns]>

In [110]:
# 5개가 차이나네요, 혹시 null값이 있는 지 확인해봅시다
df['시군구'].isnull().sum()
#정확히 5개의 눌값이 존재했군요..

5

In [121]:
#데이터 프레임을 기존과 같이 만들어준다.
idx = df[df['시군구'].isnull()].index
nulldf = pd.DataFrame(df.iloc[0:1])
nulldf.head()
# 만들어진 프레임에 null값에 해당하는 data들을 받고 확인한다.
for i in idx:
  a = df.iloc[i]
  a = pd.concat([nulldf, a],ignore_index= True)
a.head(6)

# 확인결과 시군구 데이터만 누락된게 아니였다.
# 이 5개의 데이터는 누락시키겠다.

          NaN           0  Unnamed: 0  ... 충전기 ID           충전소               타입
0  [1] 행정동 명칭         NaN        23.0  ...    1.0  DMC 산학협력연구센터  DC차데모+AC3상+DC콤보
1         NaN       21247         NaN  ...    NaN           NaN              NaN
2         NaN  한국전기차충전서비스         NaN  ...    NaN           NaN              NaN
3         NaN  한강진역 공영주차장         NaN  ...    NaN           NaN              NaN
4         NaN           3         NaN  ...    NaN           NaN              NaN
5         NaN        AC완속         NaN  ...    NaN           NaN              NaN

[6 rows x 15 columns]

In [122]:
# 최종적으로 fdf를 저장한다.
# fdf는 서울시에 있는 전기차 충전소 데이터에 행정동을추가한 데이터이다.
fdf.to_excel('seoul_EVstock.xlsx',index=False)